<input type="file" id="file"/>
<p id="status">Please select a file</p>
<div id="preview"><img src="{{ avatar_url }}"></div>

<form id="target">
  <input type="submit" value="Update avatar"/>
</form>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
  var avatar_url = {{ avatar_url|tojson }};

  var createCORSRequest = function(method, url) {
    var xhr = new XMLHttpRequest();
    if ("withCredentials" in xhr) {
      // Check if the XMLHttpRequest object has a "withCredentials" property.
      // "withCredentials" only exists on XMLHTTPRequest2 objects.
      xhr.open(method, url, true);
    } else if (typeof XDomainRequest != "undefined") {
      // Otherwise, check for XDomainRequest.
      // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
      xhr = new XDomainRequest();
      xhr.open(method, url);
    } else {
      // Otherwise, CORS is not supported by the browser.
      throw new Error('CORS not supported');
    }
    return xhr;
  };

  var s3_upload = function() {
    var file = document.getElementById('file').files[0];
    $.ajax({
      url : '/v1/users/{{ user_id }}/avatar/avatar_image',
      data: {mime_type: file.type},
      success: function(response) {
        var xhr = createCORSRequest('PUT', response.signed_request, true);
        xhr.setRequestHeader('Content-Type', file.type);
        xhr.setRequestHeader('x-amz-acl', 'public-read');
        xhr.onload = function() {
          avatar_url = response.url;
          $("#preview").html('<img src="' + avatar_url +'"/>');
        };
        xhr.send(file);
      }
    });
  };

  var update_user = function() {
    var update = {
      name: {{ name|tojson }},
      email: {{ email|tojson }},
      description: {{ description|tojson }},
      avatar_url: avatar_url
    };
    $.ajax({
      url: {{ user_url|tojson }},
      type: 'PUT',
      contentType: "application/json",
      data: JSON.stringify(update),
      success: function() { $('#status').html('Saved!'); },
      error: function() { $('#status').html('Error Saving'); }
    });
  };

  $("#file").change(s3_upload);

  $("#target").submit(function(event) {
    event.preventDefault();
    update_user();
  });

</script>
