<div>
    <div>
        <h1> USER SETTINGS :is this the same as user.profile?   </h1>
        <h5> what data goes here?</h5>
        <div>
            <label> User Name: </label>
            <h3> {{userSettings.user.username}}</h3>
        </div>
        <div>
            <img ng-src="{{userSettings.user.avatar_url}}">
        </div>
        <div>
            <label> User ID: </label>
            <h3>{{userSettings.user.id}}</h3>
        </div>
    </div>
    <div>
        <h4> More about You </h4>
        <div>
            <label>First Name</label>
            <input type="text" ng-model="userSettings.user.name" placeholder="Enter First Name">
        </div>
        <div>
            <label>Email</label>
            <input type="Email" placeholder="Enter Email" ng-model="userSettings.user.email">
        </div>
    </div>
    <div>
        <div>
            <label> What is your vision for PlanetLAB?</label>
            <textarea ng-model="userSettings.user.description" id="plTextArea" ng-trim="false" maxlength="300" placeholder="Inspire Us @  PlanetLAB" rows="5"></textarea>
            <span> {{300-(userSettings.user.description).length}} left </span>
        </div>
    </div>
    <div>
        <div>
            <p>Change Your Avatar:
                <img ng-src="{{ userSettings.user.avatar_url }}">
                <input type="file" ng-file-select="userSettings.onFileSelect($files)">
            </p>
        </div>
    </div>
    <button ng-click="userSettings.save()">Save</button>
</div>
