<h1>Add Quests</h1>
<p>Add some quests to your mission.</p>

<div class="quest-choose-wrapper">
    <div ng-repeat="quest in missionNew.quests track by $index">
        <span>{{$index + 1}}.)</span>
        <select ng-model="missionNew.quests[$index]">
            <option ng-repeat="item in missionNew.user_quests track by $index" ng-bind="item.name" value="{{item.id}}"></option>
        </select>
    </div>
</div>

<button ng-click="missionNew.addNewQuest()">Add Another Quest</button>
<button ng-click="missionNew.saveQuests()">Save</button>
