<h1> Create a New Mission </h1>
<p> Please fill out the requested information to author a new mission. Keep in mind that in PlanetLAB- Missions combine many quests to form a complete learning experience.</p>

    <div class="container">
  <div class="row">
    <div class="col-sm-5" >
            <label>Mission Name</label>
            <input class="form-control" type="text"   ng-model="missionNew.mission.name" placeholder="Enter Name"> </div>
    <div class="col-sm-1" ></div>

    <div class="col-sm-5" >       
          <label> Mission Description</label> <br>
          <textarea class="form-control" id="plTextAreaMission" ng-model="missionNew.mission.description" ng-trim="false" maxlength="200" placeholder="Enter Description" rows="5"></textarea>
          <span align="right"> {{200-(missionNew.mission.description).length}} left </span>
        </div> 

  <br> <br>
  
  <div class="row">
    <div class="col-sm-3" >
            <label> Mission Points</label>
            <input class="form-control" type="text" ng-model="missionNew.mission.points" placeholder="Enter Points">
    </div>
        <div class="col-sm-1" ></div>

    <div class="col-sm-5" >       
          <label> Mission CreatorID</label> <br>
      <input class="form-control" type="text" ng-model="missionNew.mission.creatorID" placeholder="Enter creatorID">
        </div> 
  </div>

<br/><br/>
<button ui-sref="missions.new.quests">Next step</button>
</div>
</div>


