
<!-- Preserve thumbnail structure -->
<div class="container" >
  <a style="margin:2%" ui-sref="quests.new.basic" class="btn btn-default"  role="button" >
 <h3>Create New Quest</h3></a> 
 <a style="margin:2%" ui-sref="missions.new.basic" class="btn btn-default"  role="button" >
 <h3>Create New Mission</h3></a>

<h5 style="color:gray" >Quest Authorship:</h5>  <h3>You've authored {{ userQuests.quests.length }} quests!</h3>
<ul>
<li  class="thumbnails" ng-repeat="quest in userQuests.quests">
 <div class="thumbnail" style="width:20%; background-color:#cce0f3;">
    <a ui-sref="quests.quest({id: {{quest.id}}})">
        <img class="img-rounded" ng-src="{{quest.icon_url}}"  alt="...">
    <div class="caption">
      <p style="float:right;">Quest #{{quest.id}} </p>
     <h5> <a ui-sref="quests.quest({id: {{quest.id}}})">{{ quest.name }}</a> </h5>
        <p style="font-size:.8em">{{quest.summary}}</p>

        <p><a href="#" class="btn btn-primary" role="button">Link to Mission</a> 
          <a ui-sref="quests.quest({id: {{quest.id}}})" class="btn btn-default" role="button">Edit</a>
        </p>
      </div> 
    </div>
</li>
  </ul>

</div>
</div>

<h3 ng-show="!(userQuests.quests.length)">No Quests!</h3>

<!-- April 20 Code Snippet  |not retrieving data/ format correctly.  Went back to original code on this.  
<div class="container" >
  <a style="margin:2%" ui-sref="quests.new.basic" class="btn btn-default"  role="button" >
 <h3>Create New Quest</h3></a> 
 <a style="margin:2%" ui-sref="missions.new.basic" class="btn btn-default"  role="button" >
 <h3>Create New Mission</h3></a>

<h5 style="color:gray" >Quest Authorship:</h5>  <h3>You've authored {{ userQuests.quests.length }} quests!</h3>
<ul>
<li  class="thumbnails" ng-repeat="quest in userQuests.quests">
 <div class="thumbnail" style="width:20%; background-color:#cce0f3;">
        <img class="img-rounded" src="{{quest.icon_url}}"  alt="...">
    <div class="caption">
      <p style="float:right;">Quest #{{quest.id}} </p>
        <p style="font-size:.8em">{{quest.summary}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Link to Mission</a> 
        </p>
      </div> 
    </div>
</li>
  </ul>

</div>
</div>

<h3 ng-show="!userQuests.quests.length">No Quests!</h3> -->

