<h1> Create a New Quest </h1>
<p> please fill out the requested information to author a new quest </p>

 <!-- <form editable-form name="questEditableForm" onaftersave="save()">
    <div>
      <span class="title">Quest Name: </span>
      <span editable-text="quest.name" e-name="name" onbeforesave="checkName($data)" e-required>{{ quest.name || 'empty' }}</span>
    </div> 

    <div>
      <span class="title">Quest Summary: </span>
      <span editable-textarea="quest.summary" e-name="summary" onbeforesave="checkName($data)" e-required>{{ (quest.summary || 'empty' }}
      </span>
    </div>  

    <div>

      <span class="title">Group: </span>
      <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-ng-options="g.id as g.text for g in groups">
        {{ showGroup() }}
      </span>
    </div>

    <div>
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
  </form>   --> 


<p>Name:
<a href="#" editable-text="quest.name">{{ quest.name || "empty" }}</a>
</p>
<p>Summary:
<a href="#" editable-textarea="quest.summary">{{ quest.summary || "empty" }}</a>
</p>
<p>Icon:
<img ng-src="{{ quest.icon_url }}">
<br/>
<input type="file" ng-file-select="onFileSelect($files)">
</p>
<p>Problem Based Learning Description:
<a href="#" editable-textarea="quest.pbl_description">{{ quest.pbl_description || "empty" }}</a>
</p>
<p>Mentor Guide:
<a href="#" editable-textarea="quest.mentor_guide">{{ quest.mentor_guide || "empty" }}</a>
</p>

<p>Inquiry Questions:
<pl-edit-list list="quest.inquiry_questions"></pl-edit-list>
</p>

<p>Video Links:
<pl-edit-list list="quest.video_links"></pl-edit-list>
</p>

<p>Time Required:
<a href="#" editable-text="quest.hours_required">{{ quest.hours_required || "empty" }}</a> Hours(s) and
<a href="#" editable-text="quest.minutes_required">{{ quest.minutes_required || "empty" }}</a> Minutes
</p>
<p>Max Grade Level:
<a href="#" editable-text="quest.max_grade_level">{{ quest.max_grade_level || "empty" }}</a>
</p>
<p>Min Grade Level:
<a href="#" editable-text="quest.min_grade_level">{{ quest.min_grade_level || "empty" }}</a>
</p>

<br/><br/>
<button id="save-button" ng-click="save()">Save</button>
