/**
 * File: sass/layout/_item_card.scss
 * Description: Styles for the item cards (quests and missions)
 * Dependencies: None
 *
 * @package Planet-Lab
 */

/* === Main Styles === */
.item-card {
  height: 15rem;
  overflow: hidden;
  width: 10rem;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.5);
  -webkit-border-radius: .5rem;
     -moz-border-radius: .5rem;
          border-radius: .5rem;
  -webkit-box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.5);
     -moz-box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.5);
          box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.5);
}

/* === Header Styles === */
.item-card__header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: .35rem;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.5);
}
.item-card__header * {
  width: auto;
}
.item-card__item-identifier {
  margin-right: .5rem;
  padding: .25rem .3rem;
  color: $white;
  font-weight: bold;
  background: $sections-blue;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: .1rem solid $white;
}
.item-card__science-sphere {
  color: $main-blue;
  font-size: 1.35rem;
  background: $white;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
}
.item-card__heart {
  float: right;
  color: $sections-orange;
  font-size: 1.35rem;
}

/* === Main Image Styles === */
.item-card__main-image {
  height: 50%;
  background: $main-light-blue;

  div,
  a {
    height: 100%;
  }
}
.item-card__item-image {
  height: 100%;
  width: auto;
}

/* === Main Text Area Styles === */
.item-card__item-info {
  padding-top: .5rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  background: $main-light-blue;
}
.item-card__item-title {
  color: $main-medium-blue;
  font-size: .8rem;
  line-height: 1.2;
}
.item-card__item-summary {
  font-size: .7rem;
  line-height: 1.5;
}

/* === Item Specifics Area === */
.item-card__item-specifics {
  padding-top: .25rem;
  padding-right: .25rem;
  padding-bottom: .25rem;
  padding-left: .25rem;
  background: $main-blue;
}
