/**
 * File: sass/helpers/_borders.scss
 * Description: Defines border-radii for the application
 * Dependencies: None
 *
 * @package Planet-Lab
 */

/* === Border Radii Definition === */
$small-border: .25rem;
$large-border: .5rem;
$circle: 50%;
